
*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

.home{
    display: flex;
    justify-content: center;
    background-image: url(home10.webp);
    background-position: center;
    background-size: cover;
}

.allback{
    display: flex;
    justify-content: center;
    background-color: #AEB6BF;
}

.container{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 8%;
    margin-right: 8%;
}


.navbar{
    width: 100%;
    height: 70px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.navbar p{
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
}

.navline{
    width: 100%;
    height: 2px;
    background-color: #fff;
    
}

.main-text{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
}

.main-text h1{
    color: #fff;
}

.main-text h1 span{
    color: #27AE60;
}

.main-text p{
    color: #FBFBFF;
    font-size: 20px;
    font-weight: 500;
}

.main-text a{
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #377ACA;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    background-color: #377ACA;
    color: #fff;
}

nav{
    flex: 1;
    text-align: right;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin: 10px;
}


nav ul li a{
    text-decoration: none;
    color: ;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

nav ul li a:hover{
    color: #1F6FCE;
    border-bottom: 2px solid #fff;
}

.permit-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}


.more{
    width: 140px;
    border: 0;
    padding: 6px 10px;
    background: #8E44AD;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}



/*permit page on wide screen*/

.permit2 .img{
    width: 90%;
    height: 90%;
}


.permit{
    flex-basis: 40%;
    position: relative;
}

.permit h2{
    font-size: 40px;
    
}

.permit h4{
    font-size: 25px;
    font-weight: 100;
    margin: 20px 0 10px;
}


.permit2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55vh;
}

.permit a{
    color: darkblue;
    font-weight: bold;
}



@media only screen and (max-width: 700px){
    .container{
    padding-left: 3%;
    padding-right: 3%;
}
    .main-text{
        text-align: center;
        margin-top: 80px;
    }
    .navbar{
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
}
    .navbar p{
        font-size: 25px;
        font-weight: bold;
    }
    nav{
    text-align: center;
}
    nav ul{
        width: 100%;
        background: #fff;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        border-radius: 20px;
        margin-right: 0;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin: 20px;
    }
    nav ul li a{
        color: #566573;
        font-size: 25px;
        font-weight: 100;
    }
    
    .row{
        border-radius: 10px;
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    
     .permit-row{
        border: 2px solid #5D6D7E;
        border-radius: 10px;
        flex-direction: column-reverse;
         padding: 5px;
    }
    .hamburger-box{
    width 65px;
    height: 40px;
    background-color: #fff;
        border-radius: 2px;
}

.toggle{
    width: 40px;
    height: 35px;
    background: url(icon-menu.png);
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
}
    .toggle.active{
    width: 40px;
    height: 60px;
    background: url(icon-x.png);
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
    }
    .navigation{
        overflow: hidden;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }
    .navigation.active{
    opacity: 1;
    visibility: visible;
    }
    .permit{
    text-align: center;
}

.permit2{
    display: block;
    justify-content: center;
}

.permit2 .img{
    width: 100%;
    height: 75%;
    }
    .navbar h2{
    margin-left: 40px;
}

}

/*About page*/

.about p{
    margin-top: 40px;
    text-align: left;
    font-size: 20px;
}

/*Visa for Indian*/

.india h2{
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}

.india ul{
    list-style: none;
    font-size: 20px;
}

.india ul li a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}


/*Visa for Pakistanis*/

.pak h2{
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}

.pak ul{
    list-style: none;
    font-size: 20px;
}

.pak ul li a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}


/*Work Permit page*/

.permit2 .permit-img1{
    width: 100%;
    height: 90%;
    }




